@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Open';
  src: url('../fonts/Open-Sans-800.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Lemon';
  src: url('../fonts/LemonMilk.otf');
}

body{
}

#info{
    padding-left: 25px;
}

.hr{
    border-top: 5px;
    border: #fff;
}

li{
    display: inline;
    margin-right: 3px;
}

p{
    font-size: 12px;
    max-width: 250px;
}

#side-panel{
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 275px;
    overflow-y: auto;
    height: 640;
}

.thing {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}


body {
    background-image: url("../img/background.jpeg");
}