@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Open';
  src: url('../fonts/Open-Sans-800.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Lemon';
  src: url('../fonts/LemonMilk.otf');
}

body{
}

#info{
    padding-left: 25px;
}

.hr{
    border-top: 5px;
    border: #fff;
}

li{
    display: inline;
    margin-right: 3px;
}

p{
    font-size: 12px;
    max-width: 250px;
}

#side-panel{
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 275px;
    overflow-y: auto;
    height: 640;
}

.thing {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}


body {
    background-image: url("../img/background.jpg");
    background-color: rgba(0,0,0,0.9);
}
#thingo{
    font-size: 40px;
    color: white;
}
#homepage{
    background: url("../img/background.jpg") no-repeat center center fixed;
    /*background-image: url("../img/background.jpg");*/
/*    background-color: #ecf0f1;
*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
    min-height: 100%

}
#head{
    margin-right: 227.656;
}

#tagline{
    font-size: 30px;
    position: center;
    margin-bottom: 20px;
    color: white;
}

.banana{
    padding: 50px;
}

#gitna1{
    padding-left: 150px;
    margin-left: 90px;
}

#or{
    color: #fff;
    padding-left: 50px;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}