@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Open';
  src: url('../fonts/Open-Sans-800.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Lemon';
  src: url('../fonts/LemonMilk.otf');
}

body{
}

#info{
    padding-left: 25px;
}

.hr{
    border-top: 5px;
    border: #fff;
}

li{
    display: inline;
}

p{
    font-size: 12px;
}




}